<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.min.js"></script>
</head>
<body>
<div id="main" style="width: 800px;height:600px;"></div>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main'));

  // 指定图表的配置项和数据
  var option = {
    xAxis: {
      type: 'category',
      data: []
    },
    yAxis: {
      type: 'value'
    },
    series: [{
      data: [],
      type: 'line'
    }]
  };
  var option2 = {
      xAxis: {
          type: 'category',
          data: []
      },
      series: [{
          data: [],
          type: 'line'
      }]
  };
  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);

  // 异步加载数据
  $.get('/api/c1.json',function(data){
    // 填入数据
    myChart.setOption({
      xAxis: {
        data: data.categories
      },
      series: [{
        // 根据名字对应到相应的系列
        name: '销量',
        data: data.data
      }]
    });
  },'json');
</script>
</body>
</html>
